.main-control {
    z-index: 99;
    position: fixed;
    background-color: #FFDFD3AA;
    height: 100%;
    color: #2c046b;
}

input[type=range] {
    min-width: 4em;
}

input[type=range]::-webkit-slider-thumb {
    background: #2c046b;
}

.generate {
  align-self: flex-end;
}
